body {
	font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
	max-width: 95%;
}
/* @media screen and (max-width: 767px) { */
input, select, textarea {
	font-size: 18px;
}
/* } */
.item {
	margin-bottom: 1em;
}